{% extends "layout.html" %}
{% block content %}
<!-- ABOUT -->
<div class="content-section">
    <h3 class="border-bottom mb-4">ABOUT</h3>

    <h4>What is the inspiration behind DPL?</h4>
    <p>
      DPL is a modern parcel locker that combines a website and a parcel locker to improve the online shopping experience.
      DPL provides a safe and secure locker that courier companies can place customer packages inside.
      They enable online shoppers to pick up their packages without ever having to go to a postal office or be stuck at home waiting on their package to arrive.
      Additionally, DPL eliminates the threat of intruders stealing customer packages from their doorsteps.
    </p>

    <p>
      We analyzed market trends for parcel storage lockers and briefly reviewed similar products in the market.
      Meanwhile, we considered the risks and benefits of DPL from the perspectives of end-users of the device, customers of the device,
      product stakeholders and investors, and a global perspective.
      This analysis and comparison will help evaluate DPL’s competitiveness in the market and supply better services for our customers.
    </p>

    <p>
      Our parcel lockers are built in Canada and electrically certified under Canadian regulations,
      and compliant with national PIPEDA (Personal Information Protection and Electronic Documents Act) laws to ensure data security.
      Our products are satisfied with Canadian production standards as well
    </p>

    <p>
      DPL has experts to help your employees, customers, or tenants familiarize themselves with the new smart locker system when you go online.
      We provide continuous locker support through telephone and network and provide on-site service for the next working day.
    </p>
</div>


<!-- OUR AMAZING TEAM -->
<div class="content-section">
    <h3 class="border-bottom mb-4">OUR AMAZING TEAM</h3>
    <div class="row">
      <div class="col-lg-4">
          <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='team/Candice.jpeg') }}" alt="Dev's Image"/>
              <h4>Candice Ding</h4>
              <p class="text-muted">Chief Development Officer</p>
              <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/simran-gulati/"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='team/Boey.jpeg') }}" alt="Dev's Image"/>
                <h4>Boey Leung</h4>
                <p class="text-muted">Chief Quality Officer</p>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/martin-jo/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='team/arian.jpg') }}" alt="Dev's Image"/>
                <h4>Arian Vafadar</h4>
                <p class="text-muted">Chief Executive Officer</p>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/arsalanmacknojia"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='team/sina.jpg') }}" alt="Dev's Image"/>
                <h4>Sina Ahmadian-Behrouz</h4>
                <p class="text-muted">Chief Communication Officer</p>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/sina-ahmadian-behrouz/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='team/Huron.jpeg') }}" alt="Dev's Image"/>
                <h4>Huron Lee</h4>
                <p class="text-muted">Chief Marketing Officer</p>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/sina-ahmadian-behrouz/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ url_for('static', filename='team/Lynch.jpeg') }}" alt="Dev's Image"/>
                <h4>Lynch Cheng</h4>
                <p class="text-muted">Chief Operator Officer</p>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/sina-ahmadian-behrouz/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

    </div>
    <div class="row">
    </div>
</div>


{% endblock content %}
