{% extends "layout.html" %}
{% block content %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ2UdTtgsGg7Jbx7UmtnGPFh_pVRi2n4U&libraries=places&callback=initAutocomplete" async defer></script>
  <script src="{{ url_for('static', filename='JS/home.js') }}"></script>

  {% if 0==0 %}
  <h1>DELIVER PARCEL LOCKER</h1>
  <h2>Welcome to DPL</h2>
  <p>For new users, please read the section for New Users and follow the intructions.
    For existing users, please read the section for Existing Users and follow the instructions.
    To learn about DPL's services and what we provide, refer to the About page.
  </<p>
  <h3>New Users: </h3>
  <p>Go to the Create Account page and create your personal account. Once completed, follow the
    instructions below under the Existing Users section.
  </<p>
  <h3>Existing Users: </h3>
  <p>Log into your account and follow the steps below to request DPL services for a package. </<p>
    <ol>
      <li>Click on the "New Post" button on the header bar</li>
      <li>Enter the information required</li>
      <li>Once all the required information has been entered. Press the "Post" button.</li>
    </ol>

  {% else %}
  <form method="POST" class="search-bar">
      {{ form.hidden_tag() }}
        {% if form.searchString.errors %}
            {{ form.searchString(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.searchString.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.searchString(class="form-control form-control-lg search-bar", placeholder="e.g. Grocery Pick Up") }}
            <button type="button" onClick=expandSearchOpt() class="btn btn-primary btn-md mt-1 mb-1">Advanced Search</button>
            <div class="media content-section adv-search-hidden" id="content">
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Configure Your Search Setting</legend>
                      <label class="form-control-label">Approximate Area</label>
                      <div class="form-group">
                          {% if form.postalCode.errors %}
                              {{ form.postalCode(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.postalCode.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.postalCode(class="form-control form-control-lg adv-search-bar", placeholder="e.g. Coquitlam Center...", id="autocomplete") }}
                          {% endif %}
                      </div>
                      <div>
                          {{ form.gSuggest(id="gSuggest", class="hidden_box") }}
                      </div>
                      <div class="form-group">
                          {{ form.radius.label(class="form-control-label") }}
                          {% if form.radius.errors %}
                              {{ form.radius(class="form-control form-control-lg is-invalid") }}
                              <div class="invalid-feedback">
                                  {% for error in form.radius.errors %}
                                      <span>{{ error }}</span>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ form.radius(class="form-control form-control-lg adv-search-bar") }}
                              <small class="text-muted ml-2">Default search radius is 50 km. Pick a value between 1-100 km.</small>
                          {% endif %}
                      </div>
                      <div class="grid" >
                        <div class="form-group grid-r-1 grid-c-1">
                            {{ form.status.label(class="form-control-label") }}
                            {% if form.status.errors %}
                                {{ form.status(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.status.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.status(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group grid-r-1 grid-c-2-5">
                            {{ form.category.label(class="form-control-label") }}
                            {% if form.category.errors %}
                                {{ form.category(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.status.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.category(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                      </div>

                  <div class="form-group">
                      {{ form.updateSearch(class="btn btn-outline-info") }}
                  </div>
                  </fieldset>
                </div>
        {% endif %}
    </form>


    {% for post in posts %}
        <article class="media content-section home-post">
            <img alt="User's display pic" class="rounded-circle article-img user_image" src="{{ url_for('static', filename='user_images/' + post.author.user_image) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('other_account', user_id=post.author.id) }}">{{ post.author.username }}</a>
                    <div>
                      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                      <small>|</small>
                      <small class="text-muted"> <b> {{ post.category.name }}</b> </small>
                      <small class="text-muted">  |  </small>
                      {% if post.status.name == "OPEN" %}
                        <small class="open-status text-muted">{{ post.status.name }}</small>
                      {% elif post.status.name == "TAKEN" %}
                        <small class="taken-status text-muted">{{ post.status.name }}</small>
                      {% elif post.status.name == "CANCELLED" %}
                        <small class="canclled-status text-muted">{{ post.status.name }}</small>
                      {% elif post.status.name == "CLOSED"%}
                        <small class="closed-status text-muted">{{ post.status.name }}</small>
                      {% endif %}
                    </div>
                </div>
                <h3><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p class="article-content">{{ post.description[:[300,post.description|length]|min] }}</p>
            </div>
        </article>
    {% endfor %}
{% endif %}

{% endblock content %}
