<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/main.css') }}">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <title>DPL</title>

</head>

<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-header fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">DPL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('create_new_post') }}">New Post</a>
                    <a class="nav-item nav-link" href="{{ url_for('get_account') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('sign_up') }}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    <div class="row">
        <div class="col-md-8">
        {% with flash_msgs = get_flashed_messages(with_categories=true) %}
            {% if flash_msgs %}
            {% for category, flash_msg in flash_msgs %}
                <div class="alert alert-{{ category }}">
                {{ flash_msg }}
                </div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
            <!-- Messages Channel - This will always be populated if there are any messages, whenever the messages is opened-->
            <div class="container" id="messages-container">
                <div class = "row">
                    <article class="media content-section">
                        <div class="media-body">
                            <h2>Welcome to your message inbox, {{ owner.username }}</h2>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="col" id="chat-sidebar">
                    {% if chatchannels %}
                        {% for channel in chatchannels %}
                        <ul class="list-group">
                            {% if ((channel.user1_id == owner.id and channel.user1_status.name == "DELIVERED") or (channel.user2_id == owner.id and channel.user2_status.name == "DELIVERED")) %}
                                <li class="list-group-item list-group-item-light channel-list-delivered">
                                    <a href="{{ url_for('messages_chat', channel_id=channel.id) }}">
                                        {% if channel.user_1.id == current_user.id %}
                                            {{ channel.user_2.username }}
                                        {% else %}
                                            {{ channel.user_1.username }}
                                        {% endif %}
                                    </a>
                                    <small>{{ channel.last_updated.strftime('%Y-%m-%d %H:%M') }}</small>
                                </li>
                            {% else %}
                                <li class="list-group-item list-group-item-light channel-list">
                                    <a href="{{ url_for('messages_chat', channel_id=channel.id) }}">
                                        {% if channel.user_1.id == current_user.id %}
                                            {{ channel.user_2.username }}
                                        {% else %}
                                            {{ channel.user_1.username }}
                                        {% endif %}
                                    </a>
                                    <small>{{ channel.last_updated.strftime('%Y-%m-%d %H:%M') }}</small>
                                </li>
                            {% endif %}
                        </ul>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <div class="col-10" id="chat-content">
                        <div class="container" id="inside-chat-container">
                        {% if messages %}
                        <!-- Messages Content - This will be empty at the beginning-->
                            {% for message in messages %}
                                {% if owner != message.sender %}
                                <div class="message_sender left">
                                    {% if message.message_status.name == "SENT" %}
                                        <div class="left_content">
                                            <span class="name_left">{{ message.sender.username }}</span>
                                            <span class="time_left">{{ message.message_time.strftime('%H:%M') }}</span>
                                        </div>
                                        <p class="msg_content">{{ message.message_content }}</p>  <!-- This will be the messages content-->
                                    {% elif message.message_status.name == "DELETED" %}
                                        <p class="msg_content">{{ message.sender.username }} has deleted the message</p>  <!-- This will be the messages content-->
                                    {% endif %}
                                </div>
                                {% else %}
                                <div class="message_sender right">
                                    {% if message.message_status.name == "SENT" %}
                                        <p class="msg_content">{{ message.message_content }}</p> <!-- This will be the messages content-->
                                        <div class="right_content">
                                            <span class="name_right">{{ message.sender.username }}
                                            <a href="" role="button" class="dropdownMenuLink_messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">X</a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button type="button" class="dropdown-item" data-toggle="modal" data-target="#deleteMessage-{{message.id}}">Delete</button>
                                            </div>
                                            </span>
                                            <span class="time_right">{{ message.message_time.strftime('%H:%M') }}</span>
                                        </div>
                                    {% elif message.message_status.name == "DELETED" %}
                                        <p class="msg_content">{{ message.sender.username }} has deleted the message</p>  <!-- This will be the messages content-->
                                    {% endif %}
                                </div>
                                {% endif %}
                                <!--Delete Post Popup-->
                                <div class="modal fade" id="deleteMessage-{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteMessageLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="deleteMessageLabel">Delete Message?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <form action="{{ url_for('delete_message', channel_id=message.channel_id, message_id=message.id) }}" method="POST">
                                            <input class="btn btn-danger" type="submit" value="Delete Message">
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="placeholder-empty-message">
                            {% if channel_id %}
                                Your chat is empty
                            {% elif chatchannels %}
                                Keep your neighbour and yourself safe by wearing mask and please stay home if you are not feeling well. <br><br>
                                You can message people using the message button available on users' profile, posts or comments.
                            {% else %}
                                You currently have no message. <br><br>
                                You can message people using the message button available on users' profile, posts or comments.
                            {% endif %}
                            </p>
                        {% endif %}
                        </div>
                        {% if channel_id %}
                        <div id="form_send_message_box">
                            <!-- add a textbox and a button to chat -->
                            <form action="{{ url_for('messages_chat', channel_id=channel_id) }}" method="POST">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class ="form-group">
                                    {{ form.chat_message_desc.label }}
                                        {% if form.chat_message_desc.errors %}
                                            {{ form.chat_message_desc(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.chat_message_desc.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.chat_message_desc(class="form-control form-control-lg") }}
                                        {% endif %}
                                    <!-- Send message button -->
                                    {{ form.submit_chatmsg(class="btn btn-outline-info", id="send-msg-btn") }}
                                </div>
                            </fieldset>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
