html {
  overflow: scroll;
  overflow-x: hidden;
}

body {
  background: url("../Backgrounds/body-bg.png") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-header {
  background: url("../Backgrounds/header-bg.jpg")
}

.site-header .navbar-brand {
  color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #000000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

#infoCenter.content-section{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
  position:fixed;
  transform: none;
}

.media.content-section.home-post:hover {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.article-title {
  color: #444444;
  font-size: 1rem;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-weight: 200;
}

.article-metadata {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-group.required .form-control-label:after {
  color: #d00;
  content: "*";
  margin-left: 4px;
}

input.search-bar {
  font-size: 1rem;
  width: 350px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.3s ease-in-out;
  margin: 0 0 10px 0;
}

input:focus.search-bar {
  width: 100%;
}

input:hover.search-bar {
  width: 100%;
}

.comment-display {
  border: none;
}

.comment-desc-display {
  padding-top: 8px;
  font-weight: 500;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}

.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mx-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
}

.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.adv-search-hidden {
  visibility: hidden;
  opacity: 0;
  max-height:0;
  margin:0;
  padding:0;
  display: grid;
}

.adv-search-visible {
  visibility: visible;
  opacity: 1;
  max-height:1000px;
  margin:0 0 5px 0;
  padding:10px 20px;
  display: grid;
}

.adv-search-bar {
  font-size: 1rem;
}

.grid {
  display: grid;
}

.grid-r-1 {
  grid-row: 1;
}

.grid-r-2 {
  grid-row: 2;
}

.grid-c-1 {
  grid-column: 1;
}

.grid-c-2-5 {
  grid-column: 2;
  grid-column-end: 5;
  margin-left: 10px;
}

#map {
  border:0;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

small.open-status {
  color:#9cd28a!important;
}

small.taken-status {
color:#ffa601!important;
}

small.canclled-status {
  color:red!important;
}
small.closed-status {
  color:red!important;
}

.info-item {
  margin-bottom: 5px;
}

.hidden_box {
  display: none;
}

#chat-sidebar {
  margin-top: 2em;
  float: left; /* Make this div as wide as its contents */
  min-height: 96vh;
  padding-left: 1em;
  padding-right:1em;
  border-right: 0.5px solid #898c91;
  max-width: fit-content;
}

#post_title {
  margin-top: 10px;
}

#post_content {
  margin-top: 10px;
  margin-bottom: 20px;
}

#chat-content {
  margin-top: 2em;
  float: right; /* Make this div as wide as its contents */
  min-height: 110vh;
  padding-left: 2em;
}

#messages-container{
  min-width: 900px;
  width: auto !important;
}

.container .row #inside-chat-container {
  height: 55%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.container .row #inside-chat-container::-webkit-scrollbar {
  width: 14px;               /* width of the entire scrollbar */
}
.container .row #inside-chat-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}
.container .row #inside-chat-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #bbbbbe;
  border: solid 4px transparent;
  border-radius: 14px;
}

.container .row #inside-chat-container::-webkit-scrollbar-button {
  display: none;
}

#send-msg-btn {
  color: #17a2b8;
  background-color: white;
  margin-top: 0.5em;
  background-image: none;
  float: right;
}

.list-group-item.list-group-item-light.channel-list-delivered {
  list-style-type: none;
  background-color: #cfcc1b;
}

.list-group-item.list-group-item-light.channel-list {
  list-style-type: none;
}

.rounded-circle.article-img.user_image {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.row .message_sender {
  border: 0.5px solid #000000;
  border-radius: 12px;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.row .message_sender.left {
  max-width: 40%;
  background-color: #cceeff;
  border-color: transparent;
}

.row .message_sender.right {
  margin-left: auto;
  max-width: 40%;
  background-color: #71bcd1;
  border-color: transparent;
}

.left_content {
  display: flex;
  flex-direction: column;
  padding-left: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  justify-content: space-between;
}

.right_content {
  display: flex;
  flex-direction: column;
  padding-right: 0.7em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  justify-content: space-between;
}

.name_left {
  font-size: small;
  display: inline-flex;
}

.name_right {
  font-size: small;
  display: inline-flex;
}

.time_left {
  text-align: left;
  font-size: small;
}

.time_right {
  text-align: right;
  font-size: small;
}

.msg_content {
  margin-left: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1.2em;
  overflow-wrap: anywhere
}

.dropdownMenuLink_messages {
  margin-left: 0.5em;
}

.placeholder-empty-message {
  height: 100%;
}

.post_user_image {
  margin-right: 20px;
}

#error-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70%;
}

.deleteButton {
  background: none;
  font-size: small;
  border: none;
  color: red;
  padding: 0;
}
